/* ------------------- Style Resets ------------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ------------------- Variables -------------------*/

:root {
    /*colours*/
    --clr-F:#FFFFFF;
    --clr-0:#000000;

    --clr-primary: #ee7425;
    --clr-highlight: #25a8e0;

    --clr-primary-tint: #fff3eb;
    --clr-button-tint-1: #0096d7;
    --clr-button-tint-2: #65d1ff;
    --clr-button-tint-3: #c5edff;

    --clr-bg-light: #ededed;
    --clr-bg-dark: #404040;
    --clr-shadow: #202d33;

    /*gradients*/
    --clr-gradient-box:linear-gradient(to right, var(--clr-F), var(--clr-primary-tint));
    --clr-gradient-button:linear-gradient(to right, var(--clr-button-tint-2), var(--clr-button-tint-1));
    --clr-gradient-button-hover:linear-gradient(to right, var(--clr-F), var(--clr-button-tint-3));
    --clr-gradient-button-click:linear-gradient(to left, var(--clr-F), var(--clr-button-tint-3));

    /*skew transformation amount*/
    --transform-skew:skewX(-12.5deg);
}

/* ------------------- Global Styles -------------------*/

body {
    background-color: var(--clr-bg-dark);
    display: grid;
}


/*Skewed white panels for titles etc*/

.skewedpanel {
    margin: 3em;
    background: transparent;
    transform: translateY(-100%);
    z-index: 3;
}
/*apply padding to the internel element within the panel
this is to make the padding also apply to the pseudoelements*/
.skewedpanel * {
padding: 1em;
z-index: 3;
}

/*clone the shape of the panel, skew it and place it behind the content*/
.skewedpanel::before {
    content: "";
    display: grid;
    position: relative;
    z-index: -1;
    top: 100%;
    min-height: 100%;
    width: 100%;
    background-image: var(--clr-gradient-box);
    transform: var(--transform-skew);
}

/*clone the shape of the panel, skew it, and place it behind both the content and the ::before element
offset it to creat shadow effect
All this BS is because box-shadow doesn't work on SVG shapes :D*/
.skewedpanel::after {
    content: "";
    display: grid;
    position: relative;
    z-index: -2;
    top: calc(-1 * (100% - 10px));
    left: 10px;
    min-height: 100%;
    width: 100%;
    background: var(--clr-primary);
    transform: var(--transform-skew)
}

button {
    max-width: 40em;
    background: transparent;
    border: none;
    cursor: pointer;
}

button p {
    position: relative;
    padding: 1em;
    z-index: 2;
    color: var(--clr-F);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-transform: uppercase;
}

button:hover {
    transform: translate(-5px, -5px);
}

button:active {
    transform: translate(0px, 0px);
}

button:hover p {
    color: var(--clr-0);
}

button::before {
    content: "";
    display: grid;
    position: relative;
    z-index: 1;
    top: 100%;
    min-height: 100%;
    width: 100%;
    background-image: var(--clr-gradient-button);
    transform: var(--transform-skew);
}

button:hover::before {
    background-image: var(--clr-gradient-button-hover);
}

button:active::before {
    background-image: var(--clr-gradient-button-click);
    box-shadow: 0px 0px 0.5em var(--clr-button-tint-1);
}

button::after {
    display: none;
    background: transparent;
}

button:hover::after {
    content: "";
    display: grid;
    position: relative;
    z-index: 0;
    top: calc(-1 * (100% - 10px));
    left: 10px;
    min-height: 100%;
    width: 100%;
    background-image: var(--clr-gradient-button);
    transform: var(--transform-skew);
}

button:active::after {
    display: none;
}