/* ------------------- Style Resets ------------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ------------------- Variables -------------------*/

:root {
    /*colours*/
    --clr-F:#FFFFFF; /*white*/
    --clr-0:#000000; /*black*/

    --clr-primary: #ee7425; /*orange primary*/
    --clr-primary-alt: #e05800; /*orange primary - darkened version for contrast*/
    --clr-highlight: #25a8e0; /*light blue primary*/

    --clr-primary-tint: #fff3eb; /*very light orange for tinting boxes*/
    --clr-button-tint-1: #0096d7; /*light blue - darkened slightly for gradient*/
    --clr-button-tint-2: #65d1ff; /*light blue - lightened for gradient*/
    --clr-button-tint-3: #c5edff; /*light blue - sublte almost white*/

    --clr-bg-light: #ededed; /*light grey*/
    --clr-bg-dark: #404040; /*medium grey*/
    --clr-shadow: #231F20; /*dark tinted borders, near black*/

    /*gradients*/
    --clr-gradient-box:linear-gradient(90deg, var(--clr-F) 0%, var(--clr-F) 10%, var(--clr-primary-tint) 100%);
    --clr-gradient-button:linear-gradient(to right, var(--clr-button-tint-2), var(--clr-button-tint-1));
    --clr-gradient-button-hover:linear-gradient(to right, var(--clr-F), var(--clr-button-tint-3));
    --clr-gradient-button-click:linear-gradient(to left, var(--clr-F), var(--clr-button-tint-3));

    /*transforms*/
    --transform-skew:skewX(-12.5deg);
    --transform-unskew:skewX(12.5deg);
}

/* ------------------- Global Styles -------------------*/

body {
    background-color: var(--clr-0);
    display: grid;
    grid-template-columns: 1fr clamp(800px, 80%, 1400px) 1fr;
}

.maincontent {
    width: 100%;
    display: grid;
    background: var(--clr-shadow);
}

nav ul {
    list-style: none; /*gets rid of the annoying bullet points in the nav menu*/
}

h1, h2 {
    font-size: 1.5em;
    color: var(--clr-primary);
    font-family: 'Mochiy Pop P One', sans-serif;
    text-transform: uppercase;
}

p a {
    color: var(--clr-primary);
    font-weight: bold;
}

p {
    font-size: 1.125em;
    color: var(--clr-F);
    font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}

/*Skewed white panels for titles etc*/
.skewedpanel {
    display: grid;
    position: relative;
    height: 4em;
    width: 100%;
    background: transparent;
    z-index: 3;
}

.skewedpanel h2 {
    font-size: 1.5em;
    color: var(--clr-primary);
    font-family: 'Mochiy Pop P One', sans-serif;
    text-transform: uppercase;
}

/*apply padding to the internel element within the panel
this is to make the padding also apply to the pseudoelements*/
.skewedpanel .panelinternals {
    height: 100%;
    padding: 1em;
    z-index: 3;
}

/*clone the shape of the panel, skew it and place it behind the content*/
.skewedpanel::before {
    content: "";
    display: grid;
    position: absolute;
    z-index: -1;
    top: 0%;
    min-height: 100%;
    width: 100%;
    background-image: var(--clr-gradient-box);
    transform: var(--transform-skew);
}

/*clone the shape of the panel, skew it, and place it behind both the content and the ::before element
offset it to creat shadow effect
All this BS is because box-shadow doesn't work on SVG shapes :D*/
.skewedpanel::after {
    content: "";
    display: grid;
    position: absolute;
    z-index: -2;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    background: var(--clr-primary);
    transform: var(--transform-skew)
}

/*Button style - always add the div with .buttonstyle inside, and a p wrapper for text within that*/
button {
    width: 30em;
    justify-self: center;
    height: 4em;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/*functions as the background of the button.
Necessary to split the skew transform and the translate transform*/
.buttonstyle {
    height: 100%;
    width: 100%;
    background-image: var(--clr-gradient-button);
    transform: var(--transform-skew);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttonstyle p {
    transform: var(--transform-unskew);
    color: var(--clr-F);
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-transform: uppercase;
    height: 100%;
}

button:hover {
    transform: translate(-5px, -5px);
    transition: 150ms;
}

button:hover p{
    color: var(--clr-highlight);
}

button:active {
    transform: translate(-0px, -0px);
    transition: 10ms;
}

button:hover .buttonstyle {
    background-image: var(--clr-gradient-button-hover);
    box-shadow: 10px 10px 0px var(--clr-highlight);
    transition: 150ms;
}

button:active .buttonstyle {
    background-image: var(--clr-gradient-button-click);
    box-shadow: 0px 0px 5px var(--clr-highlight);
    transition: 10ms;
}

/*dropdown menu*/
.dropdown {
    margin-bottom: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

.dropdown-title {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1em;
}

.speechtriangle {
    position: absolute;
    height: 149%;
    left: -10px;
    z-index: -1;
    transform: var(--transform-skew);
}

.dropdown-checkbox {
    display: none;
}

.dropdown-arrow {
    margin-top: 0.5em;
    justify-self: right;
    height: 1.4em;
    transform: scaleY(-1);
    transition: 100ms;
}

.dropdown .dropdown-checkbox:checked  ~ * * .dropdown-arrow {
    transform: scaleY(1);
    transition: 100ms;
}

.dropdown-contents {
    transform: scaleY(0);
    position: absolute;
    transform-origin: top;
    transition: 200ms;
    margin-top: 3em;

}

.dropdown-contents p {
    padding-left: 1em;
}

.dropdown .dropdown-checkbox:checked ~ .dropdown-contents {
    transform: scaleY(1);
    position: relative;
    transform-origin: top;
    transition: 200ms;
}

/* ------------------- Navigation -------------------*/

header {
    display: grid;
    row-gap: 1em;
    grid-template-rows: 3em 8em auto 5em;
    background-size: cover;
    background-image: url(img/Banner2.png);
    margin-bottom: -2px;
}

.logo {
    display: grid;
    margin: 0 3em 0 3em;
    transform: var(--transform-skew);
    background-image: var(--clr-gradient-box);
    box-shadow: 10px 10px 0px var(--clr-primary);
}

.logo * {
    transform: var(--transform-unskew);

}

.logo-text {
    position: relative;
    align-self: center;
    justify-self: center;
    height: 8em;
}

.logo-owl {
    position: absolute;
    margin-bottom: -0.5px;
    height: 12em;
    bottom: 0;
    left: -2em;
}

.nav-halftone {
    position: relative;
    background-image: url(assets/halftone-shadow.svg);
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    margin: 0 3em 0 3em;
}

nav ul li {
    transform: var(--transform-skew);
    text-align: center;
    background-image: var(--clr-gradient-box);
    box-shadow: 10px 10px 0px var(--clr-primary);

}

nav ul li a{
    color: var(--clr-primary);
}

nav ul li a h1{
    padding: 0.5em;
    transform: var(--transform-unskew);
    font-size: 1.25em;
    color: var(--clr-primary);
}

nav ul li:hover {
    background: var(--clr-primary);
    transition: 200ms;
}

nav ul li:hover a h1{
    transition: 200ms;
    color: var(--clr-F);
}

/* ------------------- Countdown bar -------------------*/

.countdown-bar {
    background: var(--clr-shadow);
    display: grid;
    padding: 0.5em 0 0.5em 0;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;

    text-align: center;
    font-size: 1.8em;

}

.countdown-bar * {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-transform: uppercase;
}

.spacing {
    word-spacing: 20px;
}

.cdtext {
    font-size: 0.5em;
    color: var(--clr-primary);
}

.countdown-bar button {
    scale: 0.8;
}


/* ------------------- Media Queries -------------------*/



/* ------------------- Slideshow -------------------*/

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1.5em;
    padding: 16px;
    color: var(--clr-primary);
    background-color: var(--clr-shadow);
    font-weight: bold;
    font-size: 3em;
    font-family: 'Mochiy Pop P One', sans-serif;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        color: var(--clr-highlight);
        background-color: var(--clr-F);
    }

/* Caption text */
.text {
    color: var(--clr-primary);
    background-color: var(--clr-shadow);
    font-size: 1.5em;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-size: 1.5em;
    color: var(--clr-shadow);
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--clr-highlight);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

/* ------------------- Title Pending -------------------*/